<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @spot.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @spot.longitude %>
</p>



<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
