 <head>
    <style type="text/css">
        html, body { height: 80%; margin: 10px ; padding: 0;}
        #map-canvas { height: 100%; margin: 20px; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXTMJKJVX7lAIi6j0EdJONxKC1gPtKj3M">
    </script>
    <script type="text/javascript">
      function initialize() {
        var userlat  = <%=@lat%>;
        //@customer.latitude
        var userlng = <%=@lon%>;
        //@customer.longitude
        var userLatlng = new google.maps.LatLng(userlat,userlng);
        var mapOptions = {
          center: userLatlng,
          zoom: 10
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
            position: userLatlng,
            map: map,
            title: 'You found me!'
        });
        var bounds = new google.maps.LatLngBounds();
        //@customer.latitude
        //@customer.longitude
        bounds.extend(marker.getPosition());
        <% @spots.near([@lat, @lon ], 1).each do |spot| %>
          var myLatlng = new google.maps.LatLng(<%= spot.latitude %>,<%= spot.longitude %>);
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              icon:  '<%= asset_path('pizzamarker.png')%>',
              title: '<%= spot.address  %>'
          }); 
          bounds.extend(marker.getPosition());
        <% end %> 
        map.fitBounds(bounds);
          google.maps.event.addListenerOnce(map,'bounds_changed',function() {
            google.maps.event.addListenerOnce(map, 'center_changed', function() {
                while (!map.getBounds().contains(bounds.getNorthEast()) || !map.getBounds().contains(bounds.getSouthWest())) {
                  map.setZoom(map.getZoom()-1);
                }
              });
              map.setCenter(userLatlng);
        });        
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

     <%=@customer.address%></br>
    <%= link_to 'Edit', edit_customer_path(@customer) %> |
    <%= link_to 'Back', customers_path %></br>
    <div id="map-canvas"></div>
  </body>